<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

  <title>$page.title</title>
  <link rel="alternate" type="application/atom+xml" title="Blog Stare mapy - Atom" href="http://staremapy.blogspot.com/feeds/posts/default" />
  <link rel="alternate" type="application/rss+xml" title="Blog Stare mapy - RSS" href="http://staremapy.blogspot.com/feeds/posts/default?alt=rss" />



  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="verify-v1" content="ylNTe6eqQeS7627vpFHpXufK1CsCDNC/jEqrFcNscQE=" />
  <style type="text/css">
  #g_title p, #g_footer p, #g_description p {
    margin: 0;
  }
  /*

  	-- -- -- -- -- -- --
  	Browser Fixes
  	-- -- -- -- -- -- --
  	
  	This file uses CSS filtering methods to fix various
  	layout bugs.

  	Each of the following three imported files is a 
  	separate, browser-specific CSS file that keeps all 
  	hacks out of the main style sheet.
  	
  	Over time, as supporting these browsers no longer
  	remains a priority, cleaning up the hacks is as
  	easy as deleting the @import statement below, or
  	simply no longer linking this file from the HTML.
  	
  */

  /* 
    fix ie6 "peekaboo bug" using the "holly hack". 
    Note, this style only gets applied to ie6
  */
  * html .wrapper {
    height: 0.1%;
  }

  /* 
   * IE5 mac - overrides the IE/Win hack 
   */

  /*\*//*/

  * html #threecolumn div {
  	height: auto;
  }

  /**/


  /* 
   * IE5/Win-specific CSS -ensures #container wraps all content on window resize
   */

  @media tty {
   i{content:"\";/*" "*/}} * html #container { height: 1%; } /*";}
  }/* */
  /* Styling for editable elements. Eventually, this will be part of the style. */
  .editable {
    border: 1px dashed blue;
  }
  
  .sites-tile-name-footer {
    clear: both;
  }
  
  /* Extra divs hidden by default. The custom CSS can override this though */
  #extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 {
    display: none;
  }
  
  a img,:link img,:visited img {border: none;}

  body {
    text-align: center;
  }
  #container {
    width: 718px;
    text-align: left;
    margin: 0 auto;
  }
  #main-content {
    float: left;
    width: 420px;
  }
  #sidebar {
    float: left;
    width: 140px;
  }
  #sidebar-alternate {
    float: left;
    width: 140px;
  } 
  .sites-tile-name-footer {
    clear: both;
  }
  /** BEGIN CUSTOM SKIN **/
  /*

  	-- -- -- -- -- -- --
  	Base CSS
  	-- -- -- -- -- -- --
  	
  	This file simply removes default styling on most HTML elements in 
  	order to reduce the need to later override them.
  	
  */

  h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
  dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}
  a img,:link img,:visited img {border: none;}
  address {font-style: normal;}/*


  	-- -- -- -- -- -- --
  	Type Scheme: Deco
  	-- -- -- -- -- -- --
  	
  */

  body {
  	font: 76% Verdana, sans-serif;
  }	


  h1, h2, h3, h4, h5, h6, p.description {
  	font-family: "Trebuchet MS", Trebuchet, sans-serif;

  }
  h1 {
  	font-size: 3em;
  	font-weight: bold;
  	letter-spacing: 2px;
  }
  h2 {
  	font-size: 2em;
  	font-weight: normal;
  }
  h3 {
  	font-size: 1.5em;
  }
  h4 {
  	font-size: 1.2em;
  	letter-spacing: 0.2em;
  }
  h5 {
  	font-size: 1.2em;
  }
  h6 {
  	font-size: 1em;
  	font-weight: bold;
  }

  p, td {
  	line-height: 1.8em;
  }
  code, kbd {
  	font-size: 1.25em;
  }/*

  	-- -- -- -- -- -- --
  	STYLE: Chemise
  	-- -- -- -- -- -- --

  */




  /* ie6win */

  .sites-tile-name-footer {
  	height: 1%;
  }

  /* ie5mac */

  /*\*//*/
  .sites-tile-name-footer { height: auto; }
  /**/

  /* ie5 win */
  @media tty {
   i{content:"\";/*" "*/}} td, * html th { font-size: 0.8em; } h1 { height: 1%; } /*";}
  }/* */

  /* Basic HTML style
  ----------------------------------------------- */
  a:link {
  	padding: 0 2px;
  }
  body {
  	font: 80% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  }
  blockquote {
          margin: 1em 1em;
          font-style: italic;
  }
  caption {
  	font-size: 1em;
  	text-align: left;
  	padding: 4px 6px;
  }
  	font-weight: bold;
  }
  dd {
  	margin: 0 0 1em 1em;
  }
  hr {
  	color: #222;
  	background: #222;
  	border-color: #222;
  }
  td {
  	padding: 2px 5px;
  	vertical-align: top;
  }
  th {
  	font-size: 1em;
  	padding: 2px 5px;
  	text-align: left;
  	border-top: solid 1px #000;
  	border-right: solid 1px #000;
  	border-bottom: solid 1px #000;
  }

  td p {
  	margin-top: 0;
  }

  ul li {
  	margin-bottom: 0.8em;
  }
  ol li {
  	list-style: lower-alpha;
  	margin-left: 2em;
  	margin-bottom: 0.8em;
  }








  /* Header
  ----------------------------------------------- */
  #container {
  }

  #header {
  	border-bottom: solid 1px #000;
  	position: relative;
  	margin: 0;
  	margin-bottom: 10px;
  }
  p.description {
  	font-size: 1em;
  	margin: 0;
  	padding: 0.5em 15px;
  	border-bottom: solid 1px #000;
  }
  #g_description {
  	margin: 1em 0 1em 15px;
  }

  .sites-tile-name-header {
	margin: 0.5em 0 1em 15px;
	}

	.sites-tile-name-header p {
	margin: 0;
	}
	

  /* Custom font definitions
  ----------------------------------------------- */
  p {
  	margin: 1em 0;
  	line-height: 1.5;
  }
  td, td p {
  	line-height: 1.5;
  }
  h1,h2,h3,h4,h5,h6 {
  	font-family: "Trebuchet MS", arial, sans-serif;
  }
  h1 {
  	text-align: left;
  	font-weight: normal;
  	font-size: 2em;
  	font-weight: bold;
  	line-height: 1.5em;
  	padding: 30px 20px 10px 15px;
  	margin: 0;
  	border-top: solid 1px #000;
  	border-bottom: solid 1px #000;
  }

  h2 {
  	font-size: 1.5em;
  	color: #000;
  	margin: 0 0 1em 0;
  	background: url(/-/include/style/chemise/slate/h2.gif) no-repeat left bottom;

  }
  h3 {
  	font-size: 1.2em;
  	padding: 4px 10px;
  	margin-top: 0.5em;
  }
  h4 {
  	margin-top: 0.6em;
  	margin-left: 0.2em;
  	font-size: 0.9em;
  }
  h5 {
  	padding-left: 10px;
  	font-size: 1em;
  }
  h6 {
  	font-size: 0.9em;
  }

  a:link {
     	color: #f6952e;
  }

  a[href]:hover {
  	background-color: #dbd4a6;
  }

  /* sidebar
  ----------------------------------------------- */
  #sidebar, #sidebar-alternate {
  	margin-bottom: 2em;
  }
  #sidebar h3, #sidebar-alternate h3 {
  	font-weight: normal;
  	font-size: 1.3em;
  	border-top: solid 1px #000;
  	margin-bottom: 0.5em;
  }
  #sidebar h4, #sidebar h5, #sidebar h6,
  #sidebar-alternate h4, #sidebar-alternate h5, #sidebar-alternate h6,
  #sidebar p, #sidebar-alternate p {
  	margin-left: 10px;
  	margin-right: 20px;
  }

  #sidebar li, #sidebar-alternate li {
  	margin-bottom: 0.8em;
  }
  #sidebar .links {
  	margin-bottom: 2em;
  }
  #adsense {
  	text-align: center;
  }


  .editable {
  	border: dashed 1px #666;
  }



  /* layout patches
  ----------------------------------------------- */
  #twocolumn-liquid-left #sidebar {
  	float: left;
  }
  #twocolumn-liquid-right #sidebar {
  	float: right;
  }
  #threecolumn #sidebar-alternate {
  	float: right;
  }



  /* Footer
  ----------------------------------------------- */
  .sites-tile-name-footer {
  	padding: 1px 15px;
  	border-top: solid 1px #000;
  	border-bottom: solid 1px #000;
  	clear: both;
  }
  .sites-tile-name-footer hr {
  	display: none;
  }

  .sites-tile-name-footer p {
margin:0;
  }



  /* fixed 1 column
  ----------------------------------------------- */
  #onecolumn #main-content .wrapper {
  	margin: 20px;
  }


  /* fixed left 2 column
  ----------------------------------------------- */
  #twocolumn-left #main-content .wrapper {
  	padding: 0 20px;
  }



  /* fixed right 2 column
  ----------------------------------------------- */
  #twocolumn-right #main-content .wrapper {
  	padding: 0 20px;
  }

  /* fixed right 3 column
  ----------------------------------------------- */
  #threecolumn #main-content .wrapper {
  	padding: 0 20px;
  }
  #threecolumn #sidebar h3, #threecolumn #sidebar-alternate h3 {
  	margin-bottom: 0;
  }

  /* liquid left 2 column
  ----------------------------------------------- */
  #twocolumn-liquid-left #main-content .wrapper {
  	margin: 0 20px;
  }


  /* liquid right 2 column
  ----------------------------------------------- */
  #twocolumn-liquid-right #main-content .wrapper {
  	margin: 0 20px;
  }
  /*

  	-- -- -- -- -- -- --
  	COLOR SCHEME: Ember
  	-- -- -- -- -- -- --

  */


  /* Basic HTML style
  ----------------------------------------------- */
  body {
  	color: #323229;
  	background: #BFBFBF url(/-/includes/style/chemise/ember/body-bg.gif) repeat-y center top;
  }
  caption {
  	color: #fff;
  	background: #2AA63B url(/-/includes/style/chemise/ember/h3.gif) repeat;
  }
  code, kbd {
  	color: #F68A21;
  }
  dt {
  	color: #F68A21;
  }
  hr {
  	background: #604829;
  	border-color: #604829;
  	border-top: none;
  }
  th {
  	color: #fff;
  	background: #F6922E url(/-/includes/style/chemise/ember/th.gif) repeat-x 0 0;
  	border-top: solid 1px #F8A54C;
  	border-right: solid 1px #F4782D;
  	border-bottom: solid 1px #F4782D;
  }

  ul li {
  	list-style: url(/-/includes/style/chemise/ember/h5.gif);
  }






  /* Header
  ----------------------------------------------- */
  #container {
  	background: none;
  }

  #header {
  	border-bottom: solid 3px #fff;
  }
  p.description {
  	color: #fff;
  	background: #F68B20 url(/-/includes/style/chemise/ember/description.gif) repeat-x 0 0;
  	border-top: solid 1px #F4782D;
  	border-bottom: solid 1px #F8A54C;
  }



  /* Custom font definitions
  ----------------------------------------------- */
  h1 {
  	color: #fff;
  	background: #55554C url(/-/includes/style/chemise/ember/h1.gif) repeat-x left bottom;
  	border-top: solid 1px #72726E;
  	border-bottom: solid 3px #53534A;
  }
  h2 {
  	color: #B4543D;
  	background: url(/-/includes/style/chemise/ember/h2.gif) no-repeat left bottom;
  }
  h3 {
  	color: #fff;
  	background: #45453B url(/-/includes/style/chemise/ember/h3.gif) repeat;
  }
  h4 {
  	color: #B4543D;
  }
  h5 {
  	color: #F68A21;
  	background: url(/-/includes/style/chemise/ember/h5.gif) no-repeat 0 0.5em;
  }


  /* sidebar

	
  ----------------------------------------------- */
  #sidebar, #sidebar-alternate {
  	background: url(/-/includes/style/chemise/ember/sidebar.gif) no-repeat right 0;
  }
  #sidebar h3, #sidebar-alternate h3 {
  	color: #B4543D;
  	background: none;
  	border-top: none;
  }

/***********************************************************************************************/
/****************************sites-layout-name-dual-sidebar-hf*********************************/
/***********************************************************************************************/

	.sites-layout-name-dual-sidebar-hf .sites-canvas-sidebar {    
    float: left;
    width: 110px;
	 margin-bottom: 2em;	
	}


	.sites-layout-name-dual-sidebar-hf .sites-canvas-sidebar h4 {
	margin-bottom: 10px;
	line-height:normal;
	}


  .sites-layout-name-dual-sidebar-hf .sites-tile-name-content-3 {
  	margin-left: 10px;
  	margin-right: 0px;
	}


  .sites-layout-name-dual-sidebar-hf .sites-tile-name-content-2 h4 {
	margin-bottom: 10px;
	}

  .sites-layout-name-dual-sidebar-hf .sites-tile-name-content-1 {
  	margin-left: 5px;
  	margin-right: 15px;
	}


  .sites-layout-name-dual-sidebar-hf .sites-tile-name-content-2 {
    float: left;
    width: 400px;
  	margin-left: 15px;
  	margin-right: 10px;
	}

/***********************************************************************************************/
/****************************sites-layout-name-right-sidebar-hf*********************************/
/***********************************************************************************************/
	.sites-layout-name-right-sidebar-hf {
		margin-top:10px;	
	}

	.sites-layout-name-right-sidebar-hf .sites-canvas-sidebar {    
   	line-height:normal;
	 	float: left;
    	width: 210px;
	 	margin-right: 0px ;
	 	margin-left: 20px ;		
	 	margin-bottom: 2em;	
	}

	.sites-layout-name-right-sidebar-hf .sites-tile-name-content-1 {    
		line-height:normal;    
		float: left;
    	width: 430px;
	 	margin-right: 0px ;
	 	margin-left: 15px ;
		margin-bottom: 5px;			
  }

	.sites-layout-name-right-sidebar-hf h4 {    
	 	margin-bottom: 12px ;		
  }

	.sites-layout-name-right-sidebar-hf .sites-canvas-sidebar li {    
	 	margin-left: -10px ;
	 	margin-right: -10px ;				
  }


/***********************************************************************************************/
/****************************sites-layout-name-one-column-hf************************************/
/***********************************************************************************************/

	.sites-layout-name-one-column-hf .sites-tile-name-content-1 {
		margin-top:20px;
		margin-left:20px;
		margin-right:20px;
		margin-bottom:30px;
	}
/******************************************************************************/


  /* liquid variation
  ----------------------------------------------- */
  #twocolumn-liquid-left #container, #twocolumn-liquid-right #container {
  	background: #F0ECCD url(/-/includes/style/chemise/ember/container-liquid-left.gif) repeat-y left top;
  }
  #twocolumn-liquid-left #container .wrapper, #twocolumn-liquid-right #container .wrapper {
  	background: url(/-/includes/style/chemise/ember/container-liquid-right.gif) repeat-y right top;
  }
  #twocolumn-liquid-left #container .wrapper .wrapper, #twocolumn-liquid-right #container .wrapper .wrapper {
  	background: none;
  }


  #twocolumn-right #sidebar, #twocolumn-liquid-right #sidebar, #threecolumn #sidebar-alternate {
  	background: url(/-/includes/style/chemise/ember/sidebar.gif) no-repeat left 0;
  }



  .editable {
  	border: dashed 1px #f60;
  }



  /* Footer
  ----------------------------------------------- */
  .sites-tile-name-footer {
  	color: #fff;
  	background: #55554C url(/-/includes/style/chemise/ember/h1.gif) repeat-x left bottom;
  	border-top: solid 1px #72726E;
  	border-bottom: solid 3px #53534A;
  }

  /** END CUSTOM SKIN **/
  body { background: #8b754f url(http://staremapy.mzk.cz/img/body-bg-100.jpg) repeat-y center top; }
h1 { color: #4b3611; font: normal normal 200% Georgia, Times New Roman,sans-serif; border: none; background: none; margin: 0; }
#header { border: none; background-color: transparent; margin: 0; }
p.description { background: transparent url(http://staremapy.mzk.cz/img/divider.gif) no-repeat 0px 20px; margin: 0; padding-top: 30px; border: none; }
#header div.wrapper { background: transparent url(http://staremapy.mzk.cz/img/h1-plain-100.jpg) no-repeat top left; min-height: 113px; }
#container { background: transparent url(http://staremapy.mzk.cz/img/text-bg-100.jpg) no-repeat 0px 113px; }
.sites-tile-name-footer { background: transparent url(http://staremapy.mzk.cz/img/star.gif) no-repeat 490px 0px; height: 140px; border: 0px; color: #B4543D; font-size: xx-small; }

</style>

  <!-- Hack to avoid flash of unstyled content in IE -->
  <script> </script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA9pSslyaYyyl6x8HKrHAZvxQqaeEzdkZ3y41uBuUPSYJ3soBgDBRBCmc_jRKXzUPxiF1FoHUhtwcRPw"></script>
    
<script type="text/javascript">
  google.load("feeds", "1"); 
  var feed = new google.feeds.Feed("http://staremapy.blogspot.com/feeds/posts/default");
  feed.load(function(result) {
    if (!result.error) {
      var container = document.getElementById("myfeed");
      for (var i = 0; i < result.feed.entries.length; i++) {
        var entry = result.feed.entries[i];
        var div = document.createElement("div");
        div.appendChild(document.createTextNode(entry.title));
        container.appendChild(div);
      }
    }
  });
</script>
</head>








<script type="text/javascript">//<!--
var newSS, styles="\
body { background: #8b754f url(http://staremapy.mzk.cz/img/body-bg-100.jpg) repeat-y center top; }\
h1 { color: #4b3611; font: normal normal 200% Georgia, Times New Roman,sans-serif; border: none; background: none; margin: 0; }\
#header { border: none; background-color: transparent; margin: 0; }\
p.description { background: transparent url(http://staremapy.mzk.cz/img/divider.gif) no-repeat 0px 20px; margin: 0; padding-top: 30px; border: none; }\
#header div.wrapper { background: transparent url(http://staremapy.mzk.cz/img/h1-plain-100.jpg) no-repeat top left; min-height: 113px; }\
#container { background: transparent url(http://staremapy.mzk.cz/img/text-bg-100.jpg) no-repeat 0px 113px; }\
.sites-tile-name-footer { background: transparent url(http://staremapy.mzk.cz/img/star.gif) no-repeat 490px 0px; height: 140px; border: 0px; color: #B4543D; font-size: xx-small; }\
";
 if(document.createStyleSheet) {
 document.createStyleSheet("javascript:'"+styles+"'"); 
 } else {
 newSS=document.createElement('link'); 
 newSS.rel='stylesheet'; 
 newSS.href='data:text/css,' + escape(styles);
 document.getElementsByTagName("head")[0].appendChild(newSS); 
 }
//--></script>




<body id="threecolumn">
  <div id="container">

    <div class="wrapper">



      <div id="header">
        <div class="wrapper">
          <h1 id="page-title"><div id='g_title'>$page.title<p class="separator" style="text-align: center; clear: both;"></p></div></h1>
          <div style="clear: both"></div>
          <p class="description">  
		</div></div>
			






<div>
$page.content
</div>





          <div style="clear: both"></div>
    </div>
  </div>
  <!-- /wrapper --><!-- /container -->

<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div>

<div id="extraDiv3"><span></span></div><div id="extraDiv4"><span></span></div>
<div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>

</body>
</html>

</html>


