<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>$page.title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">
body {
	margin: 0;
	padding: 0;
	background: #1B3266;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #181818;
}

h1 {
	font-size: 2em;
	margin-bottom: 12px;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.6em;
	margin-bottom: 8px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #1757AB;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	background: url($page.get_path_to_root()./images/img05.jpg) repeat-x left top;
}



/* Header */

#header {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}



/* Logo */

#logo {
	float: left;
	height: 50px;
	margin: 0;
	padding: 50px 0px 0px 20px;
	color: #FFFFFF;
}


#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 25px;
	letter-spacing: -1px;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1000px;
	height: 54px;
	margin: 0 auto;
	padding: 0;
	background: url($page.get_path_to_root()./images/img01.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 28px;
	margin-right: 3px;
	padding: 26px 30px 0px 0px;
	background: url($page.get_path_to_root()./images/img06.jpg) no-repeat right 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#nav {
	margin: 0px;
	padding: 10px 0px 0px 30px;
}

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: url($page.get_path_to_root()./images/img02.jpg) repeat-y left top;
}

#page-bgbtm {
	margin: 0px;
	padding: 30px;
	
	background: url($page.get_path_to_root()./images/img03.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 0px 20px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 270px;
	padding: 0px 0px 0px 0px;
	color: #B7ECFF;
	margin-bottom: 100px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #0E689A;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #97ECFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	background: #231202;
}

#footer {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 9px;
	text-align: center;
	color: #70AEFF;
}

#footer a {
	color: #1F84FF;
}
	
	</style>

</head>


<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">

			<h1><a href="$site.get_landing_page().get_alternative_path_to($page)">SUAleph</a></h1>
			<p>Neform&#225;ln&#237; sdru&#382;en&#237; u&#382;ivatel&#367; knihovn&#237;ho syst&#233;mu Aleph</p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
		<li><a href="$site.get_landing_page().get_alternative_path_to($page)">$site.get_landing_page().title</a></li>
		#for $child in $site.get_non_landing_pages()
			<li><a href="$child.get_alternative_path_to($page)">$child.title</a></li>
		#end for
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">



<div id="nav">
#for $predecessor in $page.get_predecessors()
<a href="$predecessor.get_alternative_path_to($page)">$predecessor.title</a> > 
#end for
$page.title
</div>

	<div id="page-bgbtm">

<div id="content">
$page.content
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->

	<div id="sidebar">
			<ul>
				<li>
					<h2>SUAleph</h2>
					<p>Str&#225;nky aktualit neform&#225;ln&#237;ho sdru&#382;en&#237; u&#382;ivatel&#367; knihovn&#237;ho syst&#233;mu Aleph. Jde o sdru&#382;en&#237; u&#382;ivatel&#367; &#268;esk&#233; a Slovensk&#233; republiky, kter&#233; vzniklo na ja&#345;e roku 1996.
od 1.8 2002 je v&#253;hradn&#237;m distributorem &#218;VT UK.
				</li>
				<li>
					<h2>Odkazy</h2>
					<ul>
						<li><a href="http://www.sualeph.cz/old/sualeph/index.htm">star&#353;&#237; verze</a></li>
					</ul>
				</li>
				<li>
					<h2>$page.title</h2>
					<ul>
					#for $child in $page.childs
						<li><a href="$child.get_alternative_path_to($page)">$child.title</a></li>
					#end for
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->	


		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2010 SUAleph</p>
	</div>
	<!-- end #footer -->

</body>
</html>


