<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>$page.title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">


		/******************* One column (simple) ************************/
		.sites-layout-name-one-column .sites-tile-name-content-1 {
		}
		/****************************************************************/



		/******************* Two column (simple) ************************/
		.sites-layout-name-two-column .sites-tile-name-content-1 {
		}

		.sites-layout-name-two-column .sites-tile-name-content-2 {
		}
		/****************************************************************//



		/******************* Three column (simple) **********************/
		.sites-layout-name-three-column .sites-tile-name-content-1 {
		}

		.sites-layout-name-three-column .sites-tile-name-content-2 {
		}

		.sites-layout-name-three-column .sites-tile-name-content-3 {
		}
		/****************************************************************/



		/*********************** One column *****************************/			
		.sites-layout-name-one-column-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-one-column-hf .sites-tile-name-header {
		}

		.sites-layout-name-one-column-hf .sites-tile-name-footer {
		}
		/****************************************************************/



		/*********************** Two column *****************************/
		.sites-layout-name-two-column-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-two-column-hf .sites-tile-name-content-2 {
		}

		.sites-layout-name-two-column-hf .sites-tile-name-header H2{
		}

		.sites-layout-name-two-column-hf .sites-tile-name-footer {
		}
		/****************************************************************/



		/*********************** Three column ***************************/
		.sites-layout-name-three-column-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-three-column-hf .sites-tile-name-content-2 {
		}

		.sites-layout-name-three-column-hf .sites-tile-name-content-3 {
		}

		.sites-layout-name-three-column-hf .sites-tile-name-header {
		}

		.sites-layout-name-three-column-hf .sites-tile-name-footer {
		}
		/****************************************************************/



	   /*********************** Left sidebar ***************************/
		.sites-layout-name-left-sidebar-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-left-sidebar-hf .sites-tile-name-content-2 {
		}

		.sites-layout-name-left-sidebar-hf .sites-tile-name-header {
		}

		.sites-layout-name-left-sidebar-hf .sites-tile-name-footer {
		}

		.sites-layout-name-left-sidebar-hf .sites-canvas-sidebar {
		}
		/****************************************************************/



		/*********************** Right sidebar **************************/
		.sites-layout-name-right-sidebar-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-right-sidebar-hf .sites-tile-name-content-2 {
		}

		.sites-layout-name-right-sidebar-hf .sites-tile-name-header {
		}

		.sites-layout-name-right-sidebar-hf .sites-tile-name-footer {
		}

		.sites-layout-name-right-sidebar-hf .sites-canvas-sidebar {
		}
		/****************************************************************/



		/***************** Left and right sidebars **********************/
		.sites-layout-name-dual-sidebar-hf .sites-tile-name-content-1 {
		}

		.sites-layout-name-dual-sidebar-hf .sites-tile-name-content-2 {
		}

		.sites-layout-name-dual-sidebar-hf .sites-tile-name-content-3 {
		}

		.sites-layout-name-dual-sidebar-hf .sites-tile-name-header H2 {
		}

		.sites-layout-name-dual-sidebar-hf .sites-tile-name-footer {
		}

		.sites-layout-name-dual-sidebar-hf .sites-canvas-sidebar {
		}
		/****************************************************************/
	
	</style>

</head>
<body>
<table width="100%" height="100%" cellspacing="0" cellpadding="0"><tr>

  <td valign="top" width="100">
	NAVIGATION
	<table>
	#for $child in $site.childs
	<tr>
    <td>
	<a href="$child.get_alternative_path_to($page)">$child.title</a>
    </td>
    </tr>
	#end for
</table>
  </td>
<td>

<div>

#for $predecessor in $page.get_predecessors()
<a href="$predecessor.get_alternative_path_to($page)">$predecessor.title</a> -> 
#end for
$page.title
</div>
<div>
$page.content
</div>
<br/>

<div>

#for $announcement in $page.get_announcements()
<h3><a href="$announcement.get_alternative_path_to($page)">$announcement.title</a></h3>
<p>
$announcement.embedded_content
</p>
#end for

</div>

<div>
<hr/>
<h3>Subpages</h3>
#for $child in $page.childs
<a href="$child.get_alternative_path_to($page)">$child.title</a><br/>
#end for
</div>

<div>
<hr/>
<h3>Comments</h3>
<table>
#for $comment in $page.comments
<tr>
<td>
$comment.author.name, $comment.author.email, $comment.updated.format(), revision: $comment.revision
<p>
$comment.text
</p>
</td>
</tr>
#end for
</table>
<hr/>
author: $page.author.name, $page.author.email<br/>
updated: $page.updated.format()<br/>
revision: $page.revision
</div>
<div>
<hr/>
<h2>Attachments</h3>
<table>
#for $attachment in $page.attachments
<tr>
<td>
$attachment.author.name, $attachment.author.email, $attachment.updated.format(), revision: $attachment.revision
<p>
<a href="$attachment.link">$attachment.name</a>
</p>
</td>
</tr>
#end for
</div>
</td>
</tr>
</table>
</body>
</html>
